dev.js
node_modules/
userlist.json
envsetup.sh
modify-user-list.js
userlist-backup.json
.wwebjs_auth/
wwebjs_auth/
note.js
testJs.js
testjs.js
pdf_lib_test.js
pdf/
pdfCombined.js
pdfSerial.js
pdfSerialv2.js
backup/
config/backup/*
localauth.js